<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUV3CCdHehd1E-s1KwmPbbt-FcWqMObZ8&callback=initMap&libraries=marker&v=weekly"></script>
    <title>Dublin Bikes - Explore</title>        
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Anuphan" rel="stylesheet"/>
</head>
<body>
    <!-- Header Overlay -->
    <header>
        <h1>                
            <img src="../static/Media/bike.png" class="responsive" id="bike">
            <a class="title">DublinBikes</a>                
            <a href="/homepage" class="home-link">Home</a>
        </h1>
    </header>

    <!-- Sidebar Overlay -->
    <div id="sidebar">
        <input type="text" placeholder="Location Search" id="search1"> 
        <div id="menu-bar">SEE FAVORITE STATIONS</div>
        <div id="weather-container">
            <div id="weather">Loading weather...</div>
        </div>
    </div>

    <!-- Fullscreen Map -->
    <div id="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>   
    <!-- <script src="../static/js/script.js"></script> -->
</body>
</html>